GH_ACCESS_TOKEN=your-github-access-token
TF_ARGS=your-specific-terraform-args-like-state-and-vars
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
SECRET=your-?secret-postreceive-var
